                 @media screen and (max-width: 1024px) {
                            .row, .navbar {
                        flex-direction: column;
                            padding-top: 8%;

                                  }



.imagen_colegio_principal{


    margin-left: -2%;
    margin-top: -1%;

}

}