

.imagen_entrada{

    z-index: 1000;
    filter: brightness(20%);
    transform: scale(1);
    display: block;
    
}

.imagen_entrada:hover{

    filter: brightness(100%);
    transition: 0.4s;
    transform: scale(1);

}                                 
                               
                                          