.App {

    max-width: 1920px;
  
}
  
.App-link {
    color: #09d3ac;
}
  
.row {
    display: flex;
}
  
.sidebar {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
}
  
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
    
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
        
}
  
.MuiMenu-paper {

    max-height: calc(100% - 96px);
    -webkit-overflow-scrolling: touch;
    margin-top: 93px;
    margin-left: 40px;
    width: 140px;
    
}

.MuiMenu-list {
  
    background-color: rgba(0, 7, 24, 0.911);
    z-index: 0;
    box-shadow: none;
    border-radius: none;
    
      
}

.MuiMenu-list a {
  
    width: 100%;
    padding: 2px 2px 2px;
    z-index: 0;
    font-size: 18px;
      
}

.MuiMenu-list a:hover{
        
    color:rgb(4, 210, 246); 
       
}

.MuiButtonBase-root{
  
    padding: 45px 45px 45 px;
    
}

.toggle {
    margin-left: 90%;
    margin-top: -80px;
    position: absolute;
    position: fixed;
    opacity: 100%;
    z-index: 10000;
    
}
    
.Logo_menu01{
    
    margin-top:2px;
    margin-left: 0%;
    padding-right: 10px;
    padding: 0.1%;
    padding-top: 40px;

     
}

.Logo_menu{
    
    opacity: 0%;
     
}

.icono_principal{

    margin-top: 6.2%;
    margin-left: 11%;
    position: absolute;
    opacity: 90%;
    z-index: 1000;

}
.icono_anuncio{

    margin-top: 6.2%;
    margin-left: 21.6%;
    position: absolute;
    opacity: 90%;
    z-index: 1000;

}

.icono_nosotros{

    margin-top: 6.2%;
    margin-left: 32.2%;
    position: absolute;
    opacity: 90%;
    z-index: 1000;
    
}

.nosotros01{

    margin-top: 6.2%;
    margin-left: 32.2%;
    position: absolute;
    opacity: 50%;
    z-index: 1000;
    
}

.icono_proceso{

    margin-top: 6.2%;
    margin-left: 42.8%;
    position: absolute;
    opacity: 90%;
    z-index: 1000;
    
}

.icono_contacto{

    margin-top: 6.3%;
    margin-left: 86.45%;
    position: absolute;
    opacity: 90%;
    z-index: 1000;
    transform: rotate(20deg);
    
    
}

.navbar {
    
    display: flex;
    background-color:  rgb(5, 5, 5);
    position: fixed;
    width: 1374px;
    z-index: 1000;
    box-shadow: none;
    margin-top: -150px;
    opacity: 80%;
    align-content: center;
    margin-left: -5px;
    padding-bottom: 0px;

        
}

.navbar a {

    color:  rgb(255, 255, 255);
    padding: 104px 92px 30px 22px;
    margin-left: 6px;
    align-content: center;
    justify-content: right;
    text-decoration: none;
    margin-top: -15px;
    font-size: 18px;
    opacity: 100%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    width: 0.6%;
    text-decoration: transparent rgb(255, 255, 255) 2px;
    transform: translateX(0%);
    transition: 0.3s;
    padding-left: 40px;

}

.navbar a:hover {

    color:  rgb(0, 204, 255);

    

}

.navbar a:focus {

    color:  rgb(0, 204, 255);    
    

}

.navbar a:active {

    color:  rgb(0, 204, 255);
    

}


.MuiButton-label {

    margin-top: 10px;
    text-shadow: 1px 1px 1px rgb(0 0 0);
    font-size: 17px;
    color:rgb(255, 255, 255);
    height: 70px;
    margin-left: 70%;

}

.MuiSvgIcon-root {

    margin-top: -50px;
    margin-left: 0px;
    color: #ffffff;
    
}

.MuiMenu-list {
    outline: 0;
    background-color: rgb(8, 9, 12);
      
}

.MuiMenu-paper {

    max-height: calc(100% - 96px);
    -webkit-overflow-scrolling: touch;
    margin-top: 45px;
    margin-left:35px;
    width: 140px;
    box-shadow: none;
    

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.MuiButton-text {
    padding: 6px 50px;
    margin-left: 50px;
}