                     @media screen and (max-width: 1024px) {
                                .row, .navbar {
                            flex-direction: column;
                                padding-top: 8%;

                                        }
            

body {

    background-color: rgb(0, 7, 24);

}

.toggle {

    margin-left: 74%;
    margin-top: 1%;
    color: beige;
    position: fixed;
    opacity: 100%;
    z-index: 2000;
    
}

.Logo_menu{

    margin-top: -1%;
    margin-left: 1%;
    padding: 0.3%;
    opacity: 100%;

    
    
}

.Logo_menu01{

    margin-top: 10%;
    margin-left: 1%;
    padding: 0.3%;
    opacity: 0%;

    
    
}

.icono_principal{

    margin-top: 35%;
    margin-left: 16%;
    position: absolute;
    opacity: 0%;
    z-index: 1000;

}


.icono_anuncio{

    margin-top: 59%;
    margin-left: 16%;
    position: absolute;
    opacity: 0%;
    z-index: 1000;

}

.icono_nosotros{

    margin-top: 67%;
    margin-left: 16%;
    position: absolute;
    opacity: 0%;
    z-index: 1000;
    
}

.icono_proceso{

    margin-top: 86%;
    margin-left: 16%;
    position: absolute;
    opacity: 0%;
    z-index: 1000;
    
}

.icono_contacto{

    margin-top: 164%;
    margin-left: 15%;
    position: absolute;
    opacity: 0%;
    z-index: 1000;
    transform: rotate(20deg);
    

}
   
.navbar {

display: flex;
background-color: rgba(0, 7, 24, 0);
box-shadow:none;
width:300px;
position: relative;
margin-top: -70px;
z-index: 0;


}

.navbar:hover{

    opacity: 95%;

}

.navbar a {

color: rgb(255, 255, 255);
padding: 20px 30px 20px 40px;
text-decoration: none;
text-align: left;
font-family: 'Abel', sans-serif;
text-shadow: 1px 1px 1px rgb(0, 0, 0);
margin-top: 0%;
font-size: 16.5px;
margin-left: -5%;


}

.navbar a:focus{

background:rgb(0, 174, 255);
color: rgb(255, 255, 255);
height: 23px;
width: 357px;

}

.boton_jardines{

    margin-top: -6%;
    margin-left: -5%;


}

.boton_colegios{

    margin-top: -9.2%;
    margin-left: -5.1%;

}

.boton_educacion_virtual{

    margin-top: -10%;
    margin-left: -6.3%;
    margin-bottom: -3%;

}

.MuiSvgIcon-root {

margin-top: -5px;
margin-left: 0px;
color: #ffffff;

}

.MuiMenu-list {
outline: 0;
background-color: rgb(0, 89, 124);
margin-top: 1200%;
margin-left: 500%;
border-radius: 5px 5px 5px;


}

.MuiMenu-paper {

    max-height: calc(100% - 96px);
    -webkit-overflow-scrolling: touch;
    margin-top: 0%;
    margin-left:33%;
    width: 140px;
    box-shadow: none;
    opacity: 10%;
    
}

ul {
display: block;
list-style-type: disc;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

.MuiButton-text {
padding: 6px 8px;
margin-left: 50px;

}


.iconos_footer{

width: 78%;
margin-left:8%;
padding-top: 1px;


}

}