                 @media screen and (max-width: 1024px) {
                            .row, .navbar {
                        flex-direction: column;
                            padding-top: 8%;

                                    }


.boton_educacion_virtual{

  
    font-size: 18px;
    margin-left: 8px;
    padding-left: 0%;
    padding-right: 52px;
    margin-right: 10px;
    margin-top: 24.3px;
    width: 9%;
    z-index: 2000;
    color:  rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20.5px;
    z-index: 2000;
    opacity: 100%;
 
}

.submenu_educacion_virtual{

    font-size: 18px;
    color:  rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    position: static;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.534);

}

.MuiPaper-root {

    margin-top: 6%;
}

.MuiButton-label {
   
    font-size: 18px;
    color:rgb(255, 255, 255);
    text-transform: lowercase;
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;

}

}
